[2016-03-31 00:12] peternied opened #2 "Request parameters are not be attached to request urls"

[2016-03-31 00:12] peternied opened #3 "Add getItemWithPath support to IDriveItemRequestBuilder"

[2016-03-31 00:13] peternied opened #4 "Add getThumbnailSize support to IThumbnailSetRequestBuilder"

[2016-03-31 00:20] peternied opened #5 "Cannot page to the next item page"
BaseCollectionPage has the wrong usage in collections, it is returning a single request builder, instead of collection request builder

[2016-03-31 00:23] peternied commented on #2
Need to rev the build #

[2016-03-31 00:47] #4 closed, assigned to peternied

[2016-03-31 00:49] #3 closed, assigned to peternied

[2016-03-31 00:49] #2 closed, assigned to peternied

[2016-04-01 22:17] #5 closed, assigned to peternied

[2016-04-18 18:35] peternied opened #10 "RecurrenceRange values are not being serialized correctly"
[RecurrenceRange](https://github.com/microsoftgraph/msgraph-sdk-android/blob/master/graphsdk/src/main/java/com/microsoft/graph/generated/BaseRecurrenceRange.java)'s Edm.Date values for StartDate and EndDate is not properly being serialized.  Instead of following the full `yyyy-mm-ddThh:mm[:ss[.fffffff]]` pattern, this needs to be changed to only return the `yyyy-mm-dd` part of the pattern in the s

[2016-04-19 19:18] iambmelt commented on #10
@peternied Happy to take a look at this - will dive into the date parsing and get back to you [soon, I hope!]

[2016-04-19 21:45] iambmelt commented on #10
@peternied Does this unjam you? Call it simple, but it seems safe-enough to substring off whatever data we don't want. Eh?

[code]

sample output

[code]

[2016-04-19 22:23] peternied commented on #10
Yea, using the format string would work well.  Can you update the way Edm.Date is handled within the [Android/TypeHelperAndroid.cs](https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator/blob/master/src/GraphODataTemplateWriter/CodeHelpers/Android/TypeHelperAndroid.cs#L35) and downstream usages so that the type is properly mapped to produce this serialized output?

[2016-04-19 23:42] iambmelt commented on #10
@peternied -- Can do. Is there a precedent we have for dealing with "special cases" when serializing fields for specific types? Some way you've handled this kind of thing before?

I see [`RecurrenceRange`](https://github.com/microsoftgraph/msgraph-sdk-android/blob/master/graphsdk/src/main/java/com/microsoft/graph/extensions/RecurrenceRange.java) extends [`BaseRecurrenceRange`](https://github.com/m

[2016-04-19 23:49] peternied commented on #10
I think we should either 1) co-opt a type for these 'Date' values or 2) create our own Date object within the core SDK that we can use to represent this other kind of functionality.

Instead of treating the Reocurrance range object in a special manor, we should just handle that specific type different and leave the current CalendarSerializer alone.  We night need to update the GsonFactory for this

[2016-04-23 03:08] iambmelt commented on #10
Link to [WIP](https://github.com/microsoftgraph/msgraph-sdk-android/compare/master...iambmelt:recurrence)

Still to do:
tests, updating templates to reflect changes in `BaseRecurrenceRange.java`

Questions for @peternied
- I added a pkg for my `Date` object - I wasn't sure what the best place to put it was... `core`, maybe?

[2016-04-25 17:04] iambmelt commented on #10
[Tests added](https://github.com/microsoftgraph/msgraph-sdk-android/commit/1f4f8b24ff8517f1ebcc3f8319442b37fd29dd53)

[2016-04-25 17:28] iambmelt commented on #10
@peternied [cleaned up date formatting](https://github.com/microsoftgraph/msgraph-sdk-android/commit/3618f89a5e267293a1458d11fc5df381395095a0)

[2016-04-25 17:29] peternied commented on #10
@iambmelt could open a PR?

[2016-04-27 04:54] #10 closed, assigned to iambmelt

[2016-05-19 11:18] diogowbrito opened #14 "Error trying to copy a file"
I'm trying to copy a file inside the One Drive filesystem.

The code I'm using is the following:

[code]

I'm not even clear this is way, given the lack of SDK documentation, but according to [this documentation](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_copy) it looks like the most similar one.

However, I get the following error:

[code]

Am I calling the wrong SDK methods

[2016-05-19 13:34] diogowbrito opened #15 "Upload a File"
Is there a way to create a file and upload contents, such as [referenced here](http://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_uploadcontent)?

After having looked at the SDK code I didn't find a way to do so.

[2016-05-19 17:05] peternied commented on #15
Thanks for the question @diogowbrito, OneDrive upload and download scenarios are supported, you can see a end-to-end example with this SDK with the [OneDrive Explorer](https://github.com/microsoftgraph/onedrive-explorer-android).

Upload a file, [full example here](https://github.com/microsoftgraph/onedrive-explorer-android/blob/master/app/src/main/java/com/microsoft/onedrive/apiexplorer/ItemFragm

[2016-05-19 17:16] peternied commented on #14
OneDrive's item copy is not supported with the MSGraph SDK at this time.

[2016-05-19 17:22] diogowbrito commented on #14
@peternied do you know when it will be?

[2016-05-19 17:25] diogowbrito commented on #15
Thanks @peternied. Exactly what I was looking for.

[2016-05-19 20:21] peternied commented on #14
Unfortunately I do not have a time table for when this SDK will support async features.

[2016-05-25 22:11] diogowbrito opened #16 "Upload a File should be able to receive an InputStream"
Right now, to upload a file a `byte[]` is required. This means the full contents of the file must be allocated in memory which may cause an `OutOfMemoryError`.

It would be a good enhancement to have the upload method receive an `InputStream` rather than a `byte[]`.

[2016-05-25 22:17] #15 closed, assigned to peternied

[2016-07-01 10:07] diogowbrito opened #20 "ANR when user selects `No` when asked for permissions"
If the user taps `No` while in the permissions screen (after user has already logged in) the application will get stuck. I'm using the `MSAAuthAndroidAdapter` and seems like no callback in called.

When `Yes` is tapped `onAuthComplete(final LiveStatus status,…)` is called. However, when tapping `No` then `onAuthError(final LiveAuthException exception,…)` is never called, leaving the app in an ANR

[2016-07-01 17:03] iambmelt commented on #20
@diogowbrito Thanks for reporting this issue; I'm able to reproduce this issue - I'm currently investigating and will update this thread with my findings as soon as possible.

/cc @peternied @shiftylogic

[2016-07-01 17:23] iambmelt commented on #20
After an initial investigation; the error appears to be caused by [this check](https://github.com/OfficeDev/msa-auth-for-android/blob/master/src/main/java/com/microsoft/services/msa/AuthorizationRequest.java#L140-L142) in [OfficeDev/msa-auth-for-android](https://github.com/OfficeDev/msa-auth-for-android)

![screen shot 2016-07-01 at 10 20 08 am](https://cloud.githubusercontent.com/assets/990063/16

[2016-07-01 17:33] diogowbrito commented on #20
Awesome, thanks @iambmelt  👍

[2016-07-14 00:49] iambmelt commented on #20
Closing this issue. Please refer to [msa-auth-for-android/issues/32](https://github.com/OfficeDev/msa-auth-for-android/issues/32) for tracking

[2016-07-14 00:49] #20 closed, assigned to iambmelt

[2016-08-09 16:59] peternied opened #24 "getThumbnailSize and getItemWithPath were deleted"
There was a couple of extensions methods that were deleted in the latest revisions of the SDK.
- getItemWithPath (See 3ea51cd38d3fd36265e3e246f1fc4cb94de13860)
- getThumbnailSize (See 134f503b4042b22075d530af6c871ca4c3015d60)

Could we get these added back and add unit tests to make sure we don't regress again?

(Found while building the [OneDrive Explorer for Android](https://github.com/microsoft

[2016-08-09 23:02] iambmelt commented on #24
Merged - thanks @peternied

[2016-08-09 23:02] #24 closed, assigned to peternied

[2016-08-13 18:11] nycodes9 opened #26 "MSA or commercial/home account ?"
Is there a way to know if the signing in a/c is a MSA or home/commercial a/c before making any graph api calls ?

Logging in with a MSA account (e.g., john_doe@outlook.com) and trying to retrieve user profile along with user image `graphClient
        .getMe()
        .getPhoto()
        .getContent()
        .buildRequest()
        .get()`
yields the following :

[code]

[2016-08-15 18:14] iambmelt commented on #26
If you have access to the `id_token` field of the OAuth 2 request, it is an [RFC 7519](https://tools.ietf.org/html/rfc7519) [JSON Web Token](https://en.wikipedia.org/wiki/JSON_Web_Token)

Decoding these tokens yields 3 pieces of data: the header, the payload, and a signature verification field - these values are separated by a `.`

A sample `jwt` payload might take the following form:

[code]

The

[2016-08-15 20:07] morphine9 commented on #26
@iambmelt thanks for the response and I'm using  MSGraph SDK Android MSA Auth for Android Adapter, it would be great if the auth adapter had a callback for identifying MSA vs commercial account before we can proceed to make graph service calls.
cc @peternied
But I believe we do not get the bearer token for msa a/c (I checked with POSTMAN online)? How do we proceed with graph calls thereafter ?

[2016-08-15 20:12] nycodes9 commented on #26
@iambmelt thanks for the response and I'm using  MSGraph SDK Android MSA Auth for Android Adapter, it would be great if the auth adapter had a callback for identifying MSA vs commercial account before we can proceed to make graph service calls.
cc @peternied
But I believe we do not get the bearer token for msa a/c (I checked with POSTMAN online)? How do we decide to proceed with graph calls therea

[2016-08-15 22:11] iambmelt commented on #26
@nycodes9 agree with this sentiment - long term, providing users with a simple way to determine their account type and what sort of functionality they can expect once authenticated would be ideal: sadly, this likely isn't on the docket for [MSGraph SDK Android MSA Auth for Android Adapter](MSGraph SDK Android MSA Auth for Android Adapter) - per [the documentation](https://github.com/microsoftgraph

[2016-08-15 22:29] iambmelt commented on #26
As a quick hack to get access to the `Authorization` header - you could make a call to the Graph service using a special `MSAAuthAndroidAdapter` with an `@Override` for `authenticateRequest` that does something like the following:

[code]

This is not an elegant solution, however - and requires initiating a call before you really know the user type

[2016-08-16 17:08] morphine9 commented on #26
Thanks for all the help here, I really appreciate that.

[2016-08-16 18:51] #26 closed, assigned to nobody

[2016-09-08 12:21] thekindJose commented on #16
Hi, any update on this issue?

[2016-09-08 16:25] peternied commented on #16
@joseal82 We would be happy to review a pull request for this functionality.  As of this time there is no planned support for InputStream in the SDK.

[2016-09-19 20:29] kumaraish opened #29 "Error message: The $filter expression must evaluate to a single boolean value."
This is the call that threw this error

[code]

Exception -

[code]

[2016-09-20 16:54] iambmelt commented on #29
Thanks for getting in touch @kumaraish - I'll be investigating this issue this morning, and will post my findings, a mitigation [if possible], or a status as to how we're handling this on our end.

[2016-09-20 20:21] iambmelt commented on #29
@kumaraish I see you are running `0.9.4` - are you able to reproduce this error on `1.0.+`? I've so far been unable to reproduce this error using either artifact

[2016-09-21 08:14] kumaraish commented on #29
Hi @iambmelt, I have reproduced this with `1.0.+` too.

[code]

Where can I found more documentation on what can go as the arguments of QueryOptions?

Though I guess the arguments I am passing here are probably wrong -

[code]

Was trying to search for folders that match the title "foldername" and was trying to filter the search results on folder. Though I now I guess this is not QueryOption is fo

[2016-09-21 15:59] kumaraish opened #30 "getCreateLink to a DriveItem requires Files.ReadWrite scope"
As per my testing in accordance with the graph docs [here](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/item_createlink), the API [getCreateLink()](https://github.com/microsoftgraph/msgraph-sdk-android/blob/master/graphsdk/src/main/java/com/microsoft/graph/generated/BaseDriveItemRequestBuilder.java) requires `Files.ReadWrite` scope to work; otherwise, HTTP 403, `access denied` is r

[2016-09-21 16:19] peternied commented on #30
To leave feedback on this request please use [UserVoice for OneDrive](https://onedrive.uservoice.com/forums/262982-onedrive/category/89523-developer)

[2016-09-21 16:35] peternied commented on #29
@kumaraish Thanks for reporting this service error, the OneDrive team will address the error message as it is not in the correct format.

[2016-09-21 18:07] iambmelt commented on #29
@kumaraish

The OData 4.0 query parameters supported by the Microsoft Graph can be found [here](https://graph.microsoft.io/en-us/docs/overview/query_parameters)

[2016-09-21 18:08] #30 closed, assigned to nobody

[2016-09-22 07:08] #29 closed, assigned to iambmelt

[2016-09-27 11:38] girishkumarbk opened #32 "Android Connect Sample: SEND Mail failing with unknown error"
[code]

[2016-09-27 17:43] iambmelt commented on #32
Thanks for reporting this @girishkumarbk - This issue (`HTTP 504 Gateway Timeout`) will be reported to our web services team. It does not appear to be SDK or sample related.

If you have any additional problems using the code sample please feel free to file an issue [here](https://github.com/microsoftgraph/android-java-connect-sample/issues/new).

Any SDK related issues you encounter can be filed

[2016-09-27 17:43] #32 closed, assigned to nobody

[2016-10-29 16:38] kumaraish opened #34 "Error trying to download a json file from OneDrive"
Using the following code to download a .json file from OneDrive throws exception -

[code]

Exception thrown -

[code]

[2016-10-31 18:43] iambmelt commented on #34
Hi @kumaraish - thank you for reporting this issue. I'll be investigating this today, and will report back with a status

[2016-11-01 05:31] iambmelt commented on #34
@kumaraish - I was able to reproduce this issue, and can confirm there is a bug with the library. I will see that this issue is entered into our bug tracker, and is addressed in future builds.

Additionally, two things worth calling out:
1. OneDrive appears to set a `Content-Type: application/json` header to files suffixed with `.json`. This causes the response body to fail coercion into an `Input

[2016-11-01 19:03] kumaraish commented on #34
@iambmelt Thanks for the update. Could you please comment on if there is any advantage of doing `.getItems().byId("<your id here>").getContent()`  over `.getItems("<your id here>").getContent()` . Either of them seems to work fine.

On a side note, as a temporary workaround for downloading json files from OneDrive, I am using `@microsoft.graph.downloadUrl` returned as part of the DriveItem metadat

[2016-11-01 21:44] iambmelt commented on #34
@kumaraish Apologies for the confusion; if both appear to be working acceptably (`Content-Type` bug aside), then feel free to use either. In my testing I had tried your sample code (thanks for providing this, btw) - saw it fail, then continued testing with an alternative implementation (matching my desc). I'll modify the above post to reflect this syntax as alternative.

Thank you for providing yo

[2016-12-21 02:03] morphine9 opened #37 "Photo fetch error for outlook.com accounts"
Not sure why photo elements are not returned by photo call
[code]

scopes added -

[code]

[2016-12-21 20:16] morphine9 commented on #37
Seems it works for beta !

[2016-12-21 20:16] #37 closed, assigned to nobody

[2017-01-11 23:11] iambmelt commented on #34
Closing this issue.

The current recommended pattern to download JSON from OneDrive is to request the `DriveItemMetadata` and perform a `GET` to the payload's `@microsoft.graph.downloadUrl` property

[2017-01-11 23:11] #34 closed, assigned to iambmelt

[2017-01-11 23:20] iambmelt commented on #16
Large file upload introduced in #35 and released in `1.2.0`

Thanks @daboxu for implementation, integration, and review assist.

Question for @daboxu: is there usage documentation available anywhere for large-file support we could link to for anyone who comes across this issue?

[2017-01-12 01:18] daboxu commented on #16
@iambmelt a section about uploading large file is here: https://github.com/OneDrive/onedrive-sdk-android/blob/master/docs/items.md#upload-a-large-file

[2017-01-12 01:24] iambmelt commented on #16
@daboxu Thanks!

[2017-01-12 01:24] #16 closed, assigned to nobody

[2017-01-19 00:45] iambmelt opened #38 "Reference requests requiring PUT actions are missing"
See https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator/issues/18

[2017-01-19 00:46] iambmelt commented on #38
/cc @AndrewJByrne @mattgeim

[2017-01-19 00:56] iambmelt commented on #14
This functionality appears to be captured in the `v1.0/$metadata` by the following declaration

[code]

And, at a glance, _may_ be supported by classes related to [DriveItemCopy](https://github.com/microsoftgraph/msgraph-sdk-android/blob/master/graphsdk/src/main/java/com/microsoft/graph/generated/BaseDriveItemCopyRequestBuilder.java)

[2017-02-06 21:30] caitlinrussell commented on #14
Validated that @diogowbrito 's code snippet works in the current version of the SDK.

[2017-02-06 21:30] #14 closed, assigned to nobody

[2017-02-08 17:12] #38 closed, assigned to iambmelt

[2017-02-14 16:52] kristijanexads commented on #37
any progress on this, I also need profile photo?

Thank you

[2017-02-14 23:00] iambmelt commented on #37
@kristijanexads -- `/photo/$value` should be live in `v1` and should be supported by the client library

[2017-02-15 09:26] kkontus commented on #37
@iambmelt maybe I'm doing something wrong but I'm still receiving following error:

[code]

I'm using following:

[code]

and making request like this:
[code]

also tried with this:
[code]

[2017-02-20 08:47] Surbhidhingra opened #41 "Events subscription via webhooks"
Hi,

I am implementing events subscription using MS graph android SDK. Below is the code.

`
IGraphServiceClient mGraphServiceClient = GraphServiceClientManager.getInstance(context).getGraphServiceClient();
mGraphServiceClient.getSubscriptions().buildRequest().post(getSubscription(email, expirationDate), subscriptionICallback);`

[code]

The request body generated through this always throws the er

[2017-02-21 08:22] Surbhidhingra commented on #41
The issue was due to the BaseSubscription model in Microsoft graph SDK where it is setting `"@odata.type":"microsoft.graph.subscription"` by default and subscription api is not supporting this in request body and throwing the error: 400

So I resolved it by explicitly making `"@odata.type"` to `null` in the subscription model and pass it to post request which worked successfully for me.

Thanks!

[2017-02-22 22:57] iambmelt commented on #37
@kkontus The `501` you are seeing is likely because the currently logged-in User is using an MSA (Microsoft Account) and not a work or school account. Per the [Get User Photo documentation](https://graph.microsoft.io/en-us/docs/api-reference/v1.0/api/profilephoto_get), this functionality is currently restricted to work or school accounts only.

[2017-02-22 23:09] iambmelt commented on #41
This issue was resolved by e63e212f8103315f776892331e3702a61c9226e9 in versions `1.1.0`+

[2017-02-22 23:09] #41 closed, assigned to nobody

[2017-02-23 11:02] kkontus commented on #37
@iambmelt  you are right, I missed that note in the docs. Are there any plans to make this available later on through MSA account? I'm currently using LiveSDK for this and upload to OneDrive in my Android app. I was thinking of upgrading the app and use msgraph-sdk-android since one-drive-android SDK doesn't support showing logged user profile photo, but now I see that this is not possible with th

[2017-03-04 17:30] kumaraish opened #42 "In GraphServiceClient builder, the method to set logger has private access."
In `GraphServiceClient` builder, the method to set logger has private access. It should have public access like other setters of `GraphServiceClient.Builder`

https://github.com/microsoftgraph/msgraph-sdk-android/blob/master/graphsdk/src/main/java/com/microsoft/graph/extensions/GraphServiceClient.java#L90

[2017-03-06 18:08] iambmelt commented on #42
Thanks for reporting this issue @kumaraish - as a workaround, you can set the `ILogger` instance through `IClientConfig`

[2017-03-07 18:50] iambmelt commented on #37
@kkontus At a glance, it appears you may be able to get access to this picture data through the [Outlook Contacts REST API](https://msdn.microsoft.com/en-us/office/office365/api/contacts-rest-operations#get-contact-photo-and-metadata) -- the documentation says that it applies to the following services, although I haven't tested these APIs personally:

- Exchange Online
- Office 365
- Hotmail.com
-

[2017-03-08 13:43] kkontus commented on #37
@iambmelt thank you once again for your effort on all my questions.

[2017-03-14 01:49] yesjessn opened #43 "Unexpected 500 error from Graph"
Got the following error while trying to create a folder in my app folder:
[code]

Full details in [graph_error_500.txt](https://github.com/microsoftgraph/msgraph-sdk-android/files/840041/graph_error_500.txt).

Per the [app folder](https://dev.onedrive.com/misc/appfolder.htm) and the [create folder](https://dev.onedrive.com/items/create.htm) documentation, the request should work given I have `"Fil

[2017-04-05 22:41] caitlinrussell commented on #43
So sorry for the late reply! I'm unable to reproduce your error, but it would appear that this is a service error sent from OneDrive, not an issue with the library. Could you please post this on StackOverflow with the tags "microsoftgraph" and "onedrive"? Someone from that team should be able to debug this with you.

I will look into updating the error message advice you received to be more approp

[2017-04-05 22:41] #43 closed, assigned to nobody

[2017-04-05 22:47] caitlinrussell opened #45 "Authorization header incorrectly included in OneDrive Consumer resumeable upload sessions"
OneDrive for Business ignores the access token, OneDrive for Consumer returns an error if it is sent. This blocks users from being able to upload large files to ODC, instead throwing a 401 error.

We need to write a ```SessionHttpProvider``` that extends ```DefaultHttpProvider```, skipping the authorization step. We then need to update ```ChunkedUploadRequest``` to call an overridden request handl

[2017-04-20 15:18] kumaraish opened #47 "Unable to execute search intermittently"
Hi, I am observing a strange issue here. I am executing a search for a file against OneDrive using graph APIs. The search returns results at times, while sometimes, no results are returned; everything else remains the same. This happens intermittently. Here is a verbose curl request I have executed (for a case in which no results, an empty list, is returned).

	λ curl -v -H "Authorization : bearer

[2017-04-20 15:24] MIchaelMainer commented on #47
Thank you for bringing this to our attention. I've passed this along to the service owner.

[2017-04-24 17:30] MIchaelMainer commented on #47
@kumaraish Are you still seeing this issue? If so, can you provide us the request-id returned in the response?

[2017-04-25 23:09] AnilSony opened #48 "Login Screen Hanges After pressing the Cancel button !"
My name is Anil, My android app screen gets hangs after pressing the cancel button from the Login screen. I tested with different OS versions (KitKat, Lollipop & MarshMallow) it results the same. There is no way to escape from this screen, Device hardware button functionalities seems not working after this.Please Help.

![sdk_loginscreen](https://cloud.githubusercontent.com/assets/4113314/25411451

[2017-04-26 07:46] kumaraish commented on #48
I too am facing the same issue for long ..

[2017-04-26 08:00] kumaraish commented on #47
@MIchaelMainer No, I haven't encountered this in past 2 days. Though I will continue to run tests for a couple of days more and would update you if I receive this.
Was anything fixed on the other side?

[2017-04-26 17:28] AnilSony commented on #48
It would be helpful for me, if you suggest any fixes for this issue at that time?

[2017-04-26 21:59] caitlinrussell commented on #48
I'm not able to repro this. Could you show the code you are using to handle the authentication? You need to ensure that you handle this in the onError callback. It also would be helpful to know which version of the ADAL library you are using, as this might be an error in that package. The newest version of this library does not include a back button, so there is no opportunity for the user to canc

[2017-04-26 23:30] AnilSony commented on #48
Hi,

**Dependencies**
compile('com.google.code.gson:gson:2.3.1')
compile('com.microsoft.graph:msgraph-sdk-android:1.2.+')
compile 'com.microsoft.graph:msa-auth-for-android-adapter:0.9.+'

**Code**

private MSAAuthAndroidAdapter mAuthAdapter;
private final AtomicReference<IGraphServiceClient> mGraphClient = new AtomicReference<>();

private void initOneDrive() {
        mAuthAdapter = new MSAAuthAn

[2017-04-27 16:17] caitlinrussell commented on #48
The library you're using for authentication is here: https://github.com/microsoftgraph/msgraph-sdk-android-msa-auth-for-android-adapter
You are welcome to move that bug there, however, this is not a supported authentication library. The best route would be to switch to using ADAL if you are able to (if you are using this for school or work). The library is [here](https://github.com/AzureAD/azure-a

[2017-04-27 20:23] caitlinrussell commented on #48
My apologies; this has already been reported here: https://github.com/OfficeDev/msa-auth-for-android/issues/32. I would still recommend the above advice, as this issue has been open for some time.

[2017-04-27 20:23] #48 closed, assigned to nobody

[2017-04-27 21:23] AnilSony commented on #48
It's ok. Thanks for your great help, hope MSA team will correct this issue.

[2017-04-28 22:22] sbolotovms opened #49 "Expose method setUseCaches on IHttpRequest"
As stated in documentation:
https://developer.android.com/reference/java/net/URLConnection.html#setUseCaches(boolean)
You can set useCaches to true to allow URLConnection in Android to cache results. It would be great if you'd expose this method in IHttpRequest so that user won't have to do workaround setting and resetting defaultUseCaches value.

[2017-05-01 17:42] caitlinrussell commented on #49
Thanks for the PR!

[2017-05-01 17:42] #49 closed, assigned to nobody

[2017-05-17 16:44] caitlinrussell opened #53 "Sendmail endpoint doesn't cast empty return buffer to Void"
This issue should affect all POST requests with a Void return type, though I have only had a chance to observe it with the Sendmail method. It has been present since 1.2.0.

Posting to Sendmail returns an empty BufferedInputStream, but the library throws a runtime error that it expects Void, not a BufferedInputStream. It seems like Void doesn't know how to cast this object type to Void.

A correla

[2017-05-18 07:27] ghost opened #54 "MeetingDuration in FindMeetingTimes doesn't serialize"
The issue is about serialization of ```meetingDuration``` parameter in ```IBaseUserRequestBuilder.getFindMeetingTimes``` method.
When it is set in the request to ```"PT30M"``` it gets serialized to ```{}```.

It is easy to check this problem by putting a debugger in ```DefaultSerializer.serializeObject``` method and check that ```serializableObject``` contains ```meetingDuration``` set and after G

[2017-05-23 20:38] caitlinrussell commented on #54
This will go out with the next bugfix release. Thanks for finding this!

[2017-05-23 20:38] #54 closed, assigned to caitlinrussell

[2017-05-23 22:03] #53 closed, assigned to caitlinrussell

[2017-07-05 05:36] davidmoten opened #60 "standard java support"
Hi
I don't see an msgraph-sdk-java, just this android project.

Any plans for supporting java on the server/client rather than just Android? I see that the code for this project is largely generated. Could a similar approach be used to generate a standard java sdk as well?

Thanks

[2017-07-05 16:09] caitlinrussell commented on #60
David, thanks for the feedback. This is something we have in the backlog to write.

[2017-07-05 16:10] #60 closed, assigned to nobody

[2017-07-07 23:59] #47 closed, assigned to nobody

[2017-07-11 13:09] stacysimpson commented on #60
Hi, we are also interested in a pure java version of the client library. Could you give us an indication for how deep this project is on your backlog? Are we talking weeks/months/years?

It would help us determine whether we should delay or proceed with a limited OneDrive integration. Thanks.

[2017-07-11 15:59] caitlinrussell commented on #60
Hi Stacy, we have this as a high priority item but unfortunately we cannot commit to any dates. It will likely be several months or more before this work is complete.

[2017-07-11 16:46] stacysimpson commented on #60
OK, thanks for the update.

[2017-07-14 14:29] markuskreusch commented on #45
Because we want to switch to version 1.3.2 I will add my workaround (#44) on top of 1.3.2. Because this is not a simple merge (code formatter broke the possiblity to get a clean diff) i would have to spend some time on this anyway.

I may try to implement it the way suggested here, but would be happy to get some further instructions so that a potential CR will get accepted.

[2017-07-14 20:06] caitlinrussell commented on #45
The main thing to remove when creating a new HttpProvider is not to call the authentication provider when making the request:

[code]

Otherwise, the functionality will be the same.

Or, if you prefer, we could just add a method to ```BaseRequest.java``` to ```removeHeader(HeaderOption)``` and call that in ```ChunkedUploadRequest``` since this is handwritten code already.

[2017-07-18 20:44] iljaX opened #61 "mobilePhone is single String instead of List"
Hi,

I think the mobilePhone field should  also be a List like homePhones/businessPhones.

    /**
     * The Home Phones.
	 *
     */
    @SerializedName("homePhones")
    @Expose
    public java.util.List<String> homePhones;

    /**
     * The Mobile Phone.
	 *
     */
    @SerializedName("mobilePhone")
    @Expose
    public String mobilePhone;

    /**
     * The Business Phones.
	 *
     */

[2017-07-18 20:59] caitlinrussell commented on #61
This is not defined by the SDK but by the [Graph service](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/user). Azure AD does not currently store multiple mobile phone numbers.
If you would like to see this as a feature, you can submit it to [UserVoice](https://feedback.azure.com/forums/169401-azure-active-directory)

[2017-07-18 20:59] #61 closed, assigned to nobody

[2017-08-04 06:44] davidmoten opened #62 "standard java support - contributions?"
Following up on #60:

I'm wondering to what extent our organisation can help with the creation of standard java support for msgraph. Perhaps the creation of a github project that ports classes from *msgraph-sdk-android* and then contribute it back for your team to control?

Here's some background to my question.
* My team works for the Australian Government and supports the national Search and Res

[2017-08-04 23:07] dpim commented on #62
Hey David! The Java community (including Android development with Microsoft Graph) is of great interest to us. We'd certainly appreciate your input on what you would like to see from a standalone Java SDK.

[2017-08-08 01:08] davidmoten commented on #62
Hi @dpim, thanks. I'll browse this project a little more to gather some ideas. Can you (or @cbales who seems to be the active contributor here) answer my questions?

[2017-08-08 15:44] caitlinrussell commented on #62
At this point, we have not finalized a design, but as you say, it seems like it would be straightforward to port from the Android library, since it is not heavily tied to the platform. We will likely build something that can use one code base to publish both a Java and Android library, or convert this library to Java and publish a lightweight layer for Android to use on the frontend.

[2017-08-08 23:30] davidmoten commented on #62
thanks @cbales. I agree. I've created a java sdk from the android one to play with it. I'll see what I learn from this (I now have to setup OAuth2 stuff to test) and report back what I find.

[2017-08-11 14:34] markuskreusch commented on #45
Had time to look at this and try it out. I am not sure how to continue here.

The approach with a custom IHttpProvider will not work properly because ChunkedUploadRequest obtains the http provider [though a call to the client](https://github.com/microsoftgraph/msgraph-sdk-android/blob/master/graphsdk/src/main/java/com/microsoft/graph/extensions/ChunkedUploadRequest.java#L130). The client itself is

[2017-08-30 18:36] caitlinrussell commented on #45
This got resolved on the server side, so OneDrive now ignores the authorization header for both business and personal accounts. If you are still having issues, feel free to reopen

[2017-08-30 18:36] #45 closed, assigned to caitlinrussell

[2017-09-08 06:54] davidmoten commented on #62
@cbales Haven't had a chance to test my fork yet and am on leave now for six weeks so will test late October.

[2017-09-22 22:07] #42 closed, assigned to nobody

[2017-10-31 00:59] davidmoten commented on #62
@cbales How's progress on Java SDK development? If it's still early days I might test my fork.

[2017-10-31 16:40] caitlinrussell commented on #62
This is still in the works and is still in the design phase. I have a converted library, but am investigating changing the calling pattern and a few other design decisions that we could iterate on when releasing a new SDK.
Are there any changes that you added or would like to see added to the Java library?

[2017-10-31 22:42] davidmoten commented on #62
@cbales that sounds good.  As you are making progress I'll abandon my fork (also because merging many recent commits from master would be a pain). I'd be keen to see the library as early as possible in github (with whatever qualifications to say it's not ready yet, is in active development etc). Once I've got something that I can import into my IDE to view I'd be delighted to give some feedback by

[2017-11-22 17:33] caitlinrussell commented on #62
I have added each of you to the prototype repository for Java. If you have any feedback on features or changes you would like to see implemented in the Java SDK or would like to load the library into your project for early testing, please use this repo to do so.

[2017-12-07 14:28] NLLAPPS opened #70 "Use ChunkedUploadProvider asynchronously"
Hi, is there any sample for uploading large files?
There is this sample

`client.getMe() .getDrive()
                                    .getRoot()
                                    .getItemWithPath("me.png")
                                    .getContent()
                                    .buildRequest()
                                    .put(file, callback);`

As you would imagine, it wo

[2017-12-07 17:38] caitlinrussell commented on #70
To accomplish this, you will want to use [Resumable Upload](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_createuploadsession). There is currently no example in the SDK, but you will want to use `createUploadSession` on your item and create a new `ChunkedUploadProvider` to process your request in chunks.

[2017-12-07 17:45] caitlinrussell commented on #70
In pseudocode:

[code]

[2017-12-07 17:50] NLLAPPS commented on #70
Thank you. I'll try. While ı have you, there seems to be a lot of different ads related to OneDrive and  authentication.

As I understand from what I have read so far it they graph sdk is the way forward. Is that correct?

[2017-12-07 17:52] caitlinrussell commented on #70
Yes, that is what we are recommending. However, we are not yet at full parity with Azure AD, so I would verify in the Graph docs that your scenarios are supported. We should be near or at parity with OneDrive.

[2017-12-07 17:55] MIchaelMainer commented on #70
@NLLAPPS In case it helps, here's the commit in the .Net client library where we implemented large file uploads.
https://github.com/microsoftgraph/msgraph-sdk-dotnet/commit/7c037cf15413b73d1ad7b52ee027a703f4b63be1#diff-374daffefc443a2b383da1d332b730c6

[2017-12-07 18:46] NLLAPPS commented on #70
Cheers, it should not be too card to convert

On 7 December 2017 17:52:27 GMT+00:00, "Caitlin Bales (MSFT)" <notifications@github.com> wrote:

[2017-12-08 10:59] NLLAPPS commented on #70
Hi guys, I am not sure if I am doing this right. ChunkedUploadProvider.upload is a blocking method that runs on main thread with callback.

How would one use an AsyncTask or another thread while waiting for the call back. The only way I can think of is to block the AysncTask with another variable within the task that changes according to IProgressCallback result.

Wouldn't it be simpler if Chunked

[2017-12-14 10:17] NLLAPPS commented on #70
Any feedback about the above issue?

[2017-12-22 01:58] jaredsburrows opened #71 "Too many methods and too many files in "com/microsoft/graph/generated""
Why are there over 2k files in a single Java package? Are these auto generated? If so, I would highly suggest this be broken down into smaller packages and possibly using an annotation process to only generate the files needed based on the clients needs.

There are way too many methods for this library: http://www.methodscount.com/?lib=com.microsoft.graph%3Amsgraph-sdk-android%3A1.2%2B

<img width

[2017-12-27 15:30] caitlinrussell commented on #71
I agree, this library is getting very bulky for the average use case. All but a handful are autogenerated according to metadata provided by the Graph API. We are currently working with the API team to enable namespacing. This will let us break up the library into smaller packages that the developer can bring in as necessary. Generating SDKs on demand by the developer is another great idea and we h

[2018-01-06 18:56] NLLAPPS commented on #70
Anyone? @cbales @MIchaelMainer

[2018-01-14 17:25] dfloresgonz commented on #37
@iambmelt was the user photo added after almost a year later?

[2018-01-16 14:58] iambmelt commented on #37
Hi @dfloresgonz - Sadly, no -- per [the documentation](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/profilephoto_get), 'User > Get Photo' is only supported for work or school mailboxes at this time.

[2018-02-06 17:03] buckett commented on #62
Is there any update on the prototype repository for Java?

[2018-02-06 17:59] buckett commented on #62
To answer myself I think @cbales has it in hand: https://github.com/microsoftgraph/MSGraph-SDK-Code-Generator/pull/112

Thanks for the work your putting into this, I'm looking forward to trying it out.

[2018-02-06 18:12] caitlinrussell commented on #62
We can't give any firm dates but it's first on our plate to get out the door!

[2018-02-13 22:57] rafaltrzcinski opened #72 "Adding attachment to draft message - 422 Unprocessable Entity"
Trying to follow example of adding file attachment for created draft message. Getting the error:
422 : Unprocessable Entity
[code]
Attachment is created the same way as in code example, by `FileAttachment` object, all fields are filled the same way.
Is there another way to send file attachment in the same POST where draft message is created?

[2018-02-13 23:59] caitlinrussell commented on #72
Could you include the JSON request body as well?

[2018-02-14 00:20] rafaltrzcinski commented on #72
Probably i see where problem is: in JSON request body field `@odata.type` is missing, but actually i set it by `FileAttachment().oDataType = "microsoft.graph.fileAttachment"` (or with `#` at the begging) so the request body looks like:
[code]
when i send it by raw JSON with `@odata.type` it is created correctly - why setting `oDataType` to `FileAttachment` won't add `@odata.type` in request body?

[2018-02-14 00:21] caitlinrussell commented on #72
OK, this is what I suspected. You are correct - the bug here is that there is a rule in the serializer to ignore @odata.type because it is a transient type. I will check in a fix shortly

[2018-02-14 01:21] rafaltrzcinski commented on #72
@cbales thank you for quick response 💪
Is there way to put file attachment into message in the same POST that create draft/send message?

[2018-02-14 01:27] caitlinrussell commented on #72
You're welcome; you lucked out as someone had reported the bug internally a few days ago and I had just fixed it and was getting ready to make the commit!
Unfortunately, you cannot put the attachment in the same POST request. This would require you to POST a new collection page to the draft, which isn't a scenario supported by the SDK. This is why the sample doesn't simply use the SendMail endpoin

[2018-02-14 19:02] pranayw3 commented on #62
@cbales can you please add me to the prototype repository for Java? Thanks!

[2018-02-14 23:46] #72 closed, assigned to nobody

[2018-02-20 13:54] marekswiecznik commented on #62
@cbales I would really appreciate access to the prototype repository, can You add me as well? Thanks!

[2018-02-26 08:08] eluodema commented on #62
@cbales Would it be possible for us to get access to the prototype as well? We are evaluating ways to access the Graph API from Java and this would really help. Thanks.

[2018-02-27 14:31] sittingInFront opened #74 "Bad request when I try to create UploadSession"
I want to upload new content to exist file. Before I need to create UploadSession. I use code below:
[code]
but I have an error 400 bad request.
[code]
What's wrong in my code?

UPD: When I use code below I have downloaded a new file with name "existFileID"(((
[code]
How to upload new version of exist file?

[2018-02-27 21:45] caitlinrussell commented on #62
Thanks everyone for your patience. The Java SDK is now available in public preview. You can check out the repo now here: [MSGraph-SDK-Java](https://github.com/microsoftgraph/msgraph-sdk-java). The package will be available through MavenCentral shortly or you can download directly from [Bintray](https://bintray.com/microsoftgraph/Maven/microsoft-graph/0.1.0) today.

[2018-02-27 21:45] #62 closed, assigned to nobody

[2018-02-27 21:57] MIchaelMainer commented on #62
@cbales Kudos to you for getting this out! @davidmoten Thank you for all of the help on this.

[2018-02-28 18:18] PranayWankhede commented on #62
Congrats to team 😊 I am currently working on POC which will make use of this SDK. POC deadline is March end and we need to start production from April. Will this be production ready starting April?

[2018-02-28 18:21] caitlinrussell commented on #62
No, it will most likely still be in preview at that time. We want to allow time for developers to use it and suggest improvements before we publish a non-breaking API surface.

[2018-02-28 19:47] PranayWankhede commented on #62
@cbales thanks!

[2018-02-28 23:59] PranayWankhede commented on #62
@cbales can you please give any approximate time for production ready use?

[2018-03-01 00:35] caitlinrussell commented on #74
You want to reference the folder you want to upload to, not the file you are replacing. The default behavior is to overwrite the existing file I believe.

[2018-03-01 00:52] caitlinrussell commented on #62
Unfortunately we cannot give any timelines on when we will be ready to release the library for production. It also is dependent on the amount and type of feedback we receive. I would expect it to take several months. I would encourage you to watch the new repo and we will do our best to keep developers updated there.

[2018-03-01 01:03] PranayWankhede commented on #62
@cbales I will keep my design flexible to accommodate SDK in future. Can you please add me to new repo? Thanks!

[2018-03-01 01:05] davidmoten commented on #62
@pranayw3 the repo is now public at https://github.com/microsoftgraph/msgraph-sdk-java

[2018-03-01 01:19] PranayWankhede commented on #62
@davidmoten thanks!

[2018-03-01 09:22] sittingInFront commented on #74
Thank you for help. It works.
Can you write how I can create the request to open upload session like I saw in [MS Graph API](https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/api/driveitem_createuploadsession)
`POST /me/drive/items/{itemId}/createUploadSession`
itemId =  existfileID?

[2018-03-02 21:33] caitlinrussell commented on #74
You will need to use the `DriveItemUploadableProperties` item to include this information. Unfortunately, this is not one of the prepopulated properties that you can set, so you will need to use the `AdditionalDataManager`:
[code]

[2018-03-06 12:17] sittingInFront commented on #74
@cbales Can you write me some example to resumable upload existing file by ID?

[2018-03-06 19:12] caitlinrussell commented on #74
Your posted code above in conjunction with the Additional data in DriveItemUploadableProperties that I posted will work for a file by ID or a folder. However, when trying to run this code for you, I just realized there are two bugs in the SDK that are preventing you from being able to do this:
1. DriveItemUploadableProperties does not inherit from IJsonBackedObject and therefore does not serialize

[2018-03-07 12:08] sittingInFront commented on #74
Thank you for the answer. I am looking forward when you fix it.

[2018-03-09 20:35] JohnMAustin78 opened #75 "Bad request when I POST a create sharing link for an MSA user."
the Graph SDK is generating an invalid request when attempting to create a sharing link to a file in **consumer** OneDrive.

Expected: {"type":"view"}
Actual: {"scope":"anonymous", "type":"view"}

Generated by the Android SDK:
POST https://graph.microsoft.com/v1.0/me/drive/items/F10...48/microsoft.graph.createLink

[2018-03-19 07:54] sittingInFront commented on #74
Hi @cbales! Can you write some terms when you plan to fix this bag?

[2018-03-19 17:39] caitlinrussell commented on #74
It is not currently scheduled but it should be out in the next release of the SDK.

[2018-04-16 03:00] ronnafaye commented on #70
Hi @cbales ,
I was able to create ChunkedUploadProvider but I'm having error when I tried the upload function.
May I know what is the int configs parameter?
Maybe you can provide a sample snippet of this function.
Your help is much appreciated. @_@

[2018-04-26 08:52] x0b opened #80 "isError(GraphErrorCodes.ItemNotFound) does not work for events and photos"
When requesting a non-existing item, the exception that is thrown does not have ```mErrorCode``` or ```mError``` set and will not match isError(any GraphErrorCode).

Example Urls:
```https://graph.microsoft.com/v1.0/users/{userid}/photo/$value```
```https://graph.microsoft.com/v1.0/users/{userid}/events/{non-existing-item}```

I've browsed the exception throwing code a bit and it seems that most 4

[2018-04-26 17:58] MIchaelMainer commented on #80
Thank you for reporting this.
760334

[2018-05-07 13:08] x0b opened #82 "Deserialization error: wrong case on LocationType.DEFAULT since 1.7.0"
Enum Value ```LocationType.DEFAULT``` has the wrong case and causes log pollution with
[code]

Caused by case mismatch between
https://github.com/microsoftgraph/msgraph-sdk-android/blob/762b81e801bd53b477c14d7023562281f52fa29f/graphsdk/src/main/java/com/microsoft/graph/extensions/LocationType.java#L26

and Graph API delivering the value as lowercase ```"default"```.

Graph SDK Version: ```1.7.0```

[2018-07-01 21:40] CaramelHeaven opened #83 "400 : Bad Request and 403 : Forbidden"
- I have a some troubles with android sdk. If I want to patch some fields in  FieldValueSet, I can just write some code like this:
[code]

But when I run it, I catch an exception:
[code]
I checked the link to the working state above (after _PATCH_, where what I want to change) [in this](https://developer.microsoft.com/en-us/graph/graph-explorer#) and successfully changed the fields. What is the pr

[2018-07-02 06:58] CaramelHeaven commented on #83
403 : Forbidden - was resolved. I missed some permissions.
400 : Bad Request is still alive. Even if I get the FieldValueSet object and then update it without any changes, the request will still remain bad.

[2018-07-02 10:15] CaramelHeaven commented on #83
FieldValueSet was resolved. The SharePoint API does not allow sending older fields, such as _@ odata.etag_ or _modified_, because it updates them yourself. We can create a simple object and add some fields like this:
[code]
After it, we just send this object in patch:
[code]

[2018-07-02 10:15] #83 closed, assigned to nobody

[2018-07-05 20:29] freeone3000 opened #84 ""Please report this error" when trying a graph calendar query"
GET https://graph.microsoft.com/v1.0/users/cfma1416@microsoft.com/calendar/events?%24top=500
    SdkVersion : graph-android-v1.7.0
    Authorization : bearer EwBYA8l6BAAURSN/FHlDW5xN74t6GzbtsBBeBUYAATiNpIRfUmsSIvLAEJueWMCqX3v5QR/6vPM247/c0d0FY4/vy5Y3EH6XlcrzJRSxyqHM6P+uXEjNsQoa8Fi1Hbb85rGklIGJDx4orPJzsAHcjXMiLQKOJ+EME5Iez+hYVil/WZy7H+rhthJFsGQLnP56p9flsCpWuIFCcmfe86rccCepOi6or6OaieSAcr039KQS+SEPcS

[2018-07-18 08:26] deepak2016 commented on #84
834686
Thanks for reporting this issue. We will have a look into this one.

[2018-07-23 07:07] kbboss commented on #70
@PAYong  finally,how you make it work? about uploading large file with microsoft api. I got the same problem

[2018-08-07 08:10] deepak2016 commented on #82
@x0b can you provide an example code snippet, where are you are facing this issue?

[2018-08-08 05:14] nimeesh-msft commented on #84
Do you see this issue happening again? This looks like transient issue. If you have any latest instance of this error, please do share details and we can look into it.

[2018-08-08 05:14] #84 closed, assigned to nobody

[2018-08-16 08:16] deepak2016 commented on #82
Not able to repro, hence closing this issue. Kindly reopen if you still face this issue.

[2018-08-16 08:16] #82 closed, assigned to nobody

[2018-09-13 18:01] ayatm opened #85 "gradle.properties"
What are the values that I have to assign to those variable in the gradle.properties file:
ClientId="CLIENT_ID"
Username="USERNAME"
Password="PASSWORD"

[2018-09-13 18:04] MIchaelMainer commented on #85
I'm not sure how those are used. Perhaps to run the end to end tests.

ClientId: You'll get that from an app registration, https://github.com/microsoftgraph/msgraph-sdk-android#21-register-your-application
Username and password: I expect that this is using the deprecated password flow. I have no idea whether this is still allowed.

[2018-09-13 18:43] ayatm commented on #85
My problem is I want to include the SDK source code directly in my project. But unfortunately, all the request not work when I include the SDK source code to my project. but when I add
 implementation 'com.microsoft.graph:msgraph-sdk-android:1.5.0' to gradle file they work, but that not what I want. do you have any hints?

[2018-09-19 23:54] MIchaelMainer commented on #85
I'm sorry that I don't have any hints for you. If you are using source directly in your project, have you considered using the https://github.com/microsoftgraph/msgraph-sdk-java client?

[2018-09-25 14:46] ayatm commented on #85
Thank you for your help, The problem was I used the sample code and the graph sdk     "implementation 'com.microsoft.graph:msgraph-sdk-android:1.5.0' "
When I used the sdk as source code it was not working, I am not sure what was the problem but it seems the SDK source code version is 1.7.0 and maybe it doesn't compatible to the sample code. So I implemented the code from the link that you sent be

[2018-09-25 21:37] #85 closed, assigned to nobody

[2018-09-27 19:05] ayatm opened #86 "Search request"
I am trying to search for emails by sender email address as the following
    requestOptions.add(new QueryOption("$search=","\"from:ayat@hhhhhh.com\""));
               client
                    .getMe()
                    .getMessages()
                    .buildRequest(requestOptions)
                    .get(new ICallback<IMessageCollectionPage>() {....}

but that does not work!
Any idea?

[2018-10-02 08:26] Glennmen commented on #86
Not sure if it is the same for emails but for contacts I use this:
[code]

I would assume you can do this:
[code]
Or if you want to keep using the search param maybe this (I haven't tested it myself):
[code]

[2018-10-02 12:39] Glennmen opened #88 "Message Attachment"
I am able to send a message using the SDK:

[code]

But if I add a `FileAttachment` object to the message the mail is still being sent but without the attachment.

My full code:
[code]

Can anyone point out what I am doing wrong or what I am missing. Thanks

[2018-10-03 08:55] Glennmen commented on #88
I have been able to send a mail with an attachment by making a draft first, I hope someone can show me a more efficient solution. 3 API calls for something I expected to be done by only 1 API call doesn't seem very efficient to me.

My current solution:
[code]

[2018-10-03 19:10] WiMank opened #90 "Context (ApplicationContext) instead of Application?"
I am trying use this in a WorkManager. A WorkManager `getApplicationContext()` can not be cast to an Application.
Why can't msgraph-sdk-android use the more generic "Context" instead of "Application"?
Or is there some other solution about which nothing is written here?

[code]

[2018-10-04 14:49] ayatm commented on #86
Thank you so much, this one requestOptions.add(new QueryOption("filter","from/emailAddress/address eq 'ayat@hhhhhh.com'")); works with me

[2018-10-04 21:32] ayatm opened #91 "Messages Count"
I want to ask if there any way I can get the number of unread messages, the following query returns the messages:
options.add(new QueryOption("filter","IsRead eq "+false));
            getMessagesCountRequestAndResponse(options);

But I just want the count number.

[2018-10-10 14:27] deepak2016 commented on #88
We are looking into your scenario and will come back with our recommendation. Thanks for reporting the issue.

[2018-10-11 08:36] NakulSabharwal commented on #91
Hi
Try adding $count=true for getting number of unread messages.

[2018-10-15 11:43] ajay-singh-wdc opened #92 "isError(GraphErrorCodes.QuotaLimitReached) is not working for "Insufficient Storage""
I am not able to compare the error scenario for "Insufficient Storage" while uploading a file
Below is the code snippet for failure case while upload :

@Override
                        public void failure(ClientException ex) {
                            Timber.e(ex, ex.getMessage());
                            if (ex.isError(GraphErrorCodes.QuotaLimitReached)) {

[2018-10-15 16:10] NakulSabharwal commented on #91
We are considering your issue as resolved. Please reopen the issue and comment if any further help is required. Thanks.

[2018-10-16 07:25] #91 closed, assigned to NakulSabharwal

[2018-10-27 14:04] klehmann opened #93 "How to specify proxy server?"
We would like to use the API in an application server. Is there a way to specify a proxy server to be used for Graph API requests?

[2018-10-27 14:05] #93 closed, assigned to nobody

[2019-01-09 13:48] bubbleguuum opened #94 "Use This API or onedrive-sdk-android for accessing OneDrive on Android ?"
I've used the now retired Live Connect API Android SDK to access OneDrive on Android.
I'm a bit perplexed at the SDK I should now use. Is it this SDK or onedrive-sdk-android (which has not seen a commit since July 2017) ? I do not want to invest effort in another possibly dead SDK.

[2019-01-09 18:39] MIchaelMainer commented on #94
@bubbleguuum I'm sorry for the confusing lack of communication on which library you should use for Android long-term. We were supposed to provide this comm already but I see we haven't. Our plan is to make the [msgraph-sdk-java](https://github.com/microsoftgraph/msgraph-sdk-java) library the library to use on Android and Java. This will enable us to have long-term support for both platforms.

Addi

[2019-01-13 17:04] bubbleguuum commented on #94
Thanks, for the time being I went with onedrive-sdk-android. It works fine for my limited needs and if I need to update to a new SDK it should not be very difficult as the underlying objects (at the json level) are the same. But it is sure confusing for anyone wanting to add OneDrive support to an Android app. It would be sure great if the MS web page for OneDrive Android development had clear gui

[2019-02-04 18:07] ammyatmail opened #95 "Retreiving the file content in pdf formar failing"
Hi,

I am using ADAL lib for authentication purpose. Post authentication I am calling MS Graph api to retreive the content of the office format files(.doc, .ppt) in pdf format. But the api call is failling. Can you suggest what I am doing wrong here?

02-02 16:22:27.832 2603-2681/com.azuresamples.azureadsampleapp.azureadsampleapp D/DefaultHttpProvider[sendRequestInternal] - 314: Response json
02-0

[2019-02-05 08:09] gerritbeuze opened #96 "Bad request for createUploadSession for existing file"
When creating an upload session for a file that was previously downloaded and for which I have a driveId, I only get 400 responses "bad request", no matter what options or properties:
`session = getClient().getMe().getDrive().getItems(_fileId).getCreateUploadSession(props).buildRequest(options).post();`
See logging below.
But creating an upload session by using a path based id to the same file, it

[2019-02-05 12:56] gerritbeuze opened #97 "isError(GraphErrorCodes.ItemNotFound) does not work for files"
Similar to issue #80: but want to add that this also not working for files, making the graph-api useless for file sync.

Copy from #80:
 When requesting a non-existing item, the exception that is thrown does not have `mErrorCode` or `mError` set and will not match isError(any GraphErrorCode).

Example call:
`getClient().getMe().getDrive().getItems(notExistingDriveId).buildRequest().get(...`

I've

[2019-02-18 06:39] AlexChen0527 opened #98 "failed to Cancel the upload session"
uploadURL = new URL(uploadSession.uploadUrl);
HttpURLConnection connection = (HttpURLConnection)uploadURL.openConnection();
connection.setRequestMethod("DELETE");
connection.connect();

It's not work, how to cancel the upload Session?

[2019-02-19 18:19] jebeld17 opened #99 "Upload to OneDrive failed : [This is an unexpected error from Graph, please report this at https://github.com/microsoftgraph/msgraph-sdk-android/issues]"
The following is an error report I'm getting from the Graph API in a third-party program by Carbonite, SMS Backup & Restore when trying to upload a file change to my personal OneDrive account.
I've contacted the development team behind the "SMS Backup & Restore" app and they seem certain the issue resides on the Graph API end.

Here the message:

_____

Upload to OneDrive failed : [This is an unex

[2019-02-19 18:34] jebeld17 opened #100 "Marking Graph SDK+API Bugs as "Security Issues""
With user privacy becoming more and more a priority every day and the sometimes-personally-identifiable information contained in GraphAPI error messages output when a service or app hits a snag (such as token codes, uuids, etc.), I believe it is necessary to have a "Mark as Security Issue" flag or checkbox to fill when a user is submitting a bug report for the MSGraph SDK and API in the official G

[2019-03-01 04:13] oneday24 opened #101 "People relevant"
I tested me/people api with my microsoft AAD account, but most of the people I got are not relevant to me. Can I only get people that I communicates in email or skype?

[2019-03-01 06:42] oneday24 commented on #101
Can I get people that I communicate in Microsoft Teams?

[2019-03-13 16:01] jebeld17 commented on #99
The bug has occurred again this week, including today.
Please see the error message I've received below:

"
[This is an unexpected error from Graph, please report this at https://github.com/microsoftgraph/msgraph-sdk-android/issues]
PUT https://api.onedrive.com/rup/5908a542ea8723db/eyJSZXNvdXJjZUlEIjoiNTkwOEE1NDJFQTg3MjNEQiEyMTU0ODYiLCJSZWxhdGlvbnNoaXBOYW1lIjoic21zX3UxMS0yLnhtbCJ9/4m8SGk-wBwGu-M9_

[2019-03-18 09:13] wylzt8384 opened #102 "username and password is involved in the official build while involving in build.gradle"
while using the implementation 'com.microsoft.graph:msgraph-sdk-android:1.5.0' in my project, when decompile code, there are username and password hardcoded in the BuildConfg.java, this is a security issue, so need to be address ASAP.
the username and password in the file is as below.
.field public static final PASSWORD:Ljava/lang/String; = "pass@word1"
.field public static final USERNAME:Ljava/la

[2019-03-19 02:20] MIchaelMainer commented on #102
First off, thank you for bringing this to our attention. That account is an old demo test account that is no longer valid.

[2019-03-19 02:20] #102 closed, assigned to nobody

[2019-03-21 14:45] Coopra opened #103 "GraphFatalServiceException when retrieving a user's profile picture"
When making a call with `client.getMe().getPhoto().buildRequest().get()` or `client.getMe().getPhoto().getContent().buildRequest().get()` I get a `GraphFatalServiceException` with a 501 response code stating this hasn't been implemented.

The underlying URL the SDK calls is [https://graph.microsoft.com/v1.0/me/photo](url). Are there plans to implement this in the SDK?

[2019-03-28 15:21] NLLAPPS commented on #70
Any updates to this issue?

[2019-04-17 09:29] croitor-ivan opened #104 "Unauthorized error can't be handled"
I have an authResult(adal) instance that returns **false** on the "isExpired()" invocation.

Even, the auth session seems to **not** be expired. When a request is being made to via graph SDK, I receive a 401 Unauthorized exception with:

`{"code":"InvalidAuthenticationToken","message":"Access token has expired.","innerError":{"request-id":"86c649ec-b370-4c7f-8347-2b686e35fe93","date":"2019-04-17T0

[2019-04-23 11:06] NLLAPPS opened #105 "Search within limited scope of AppRoot does not work"
Hi, my app only requests AppFolder/Special App Root permission. Searching with full permission works fine.

For example:

`https://graph.microsoft.com/v1.0/me/drive/root/microsoft.graph.search(q='test')`

Finds the file. However,

`https://graph.microsoft.com/v1.0/me/drive/special/approot/microsoft.graph.search(q='test')`

Does not. It returns empty collection as below

`
{
    "@odata.context": "

[2019-05-02 10:01] ohs0612 commented on #70
I would like to know how to upload file by using CreateUploadSession from msgraph-sdk-android OneDrive SDK.

[2019-05-21 05:52] SailReal opened #106 "ChunkedUploadProvider constructor size parameter int type limits upload to 2GB"
Fore more details see https://github.com/microsoftgraph/msgraph-sdk-java/issues/211

I will create a PR soon

[2019-05-30 12:16] omrikaufman commented on #74
this issue also in the .net sdk

[2019-06-04 08:24] 171008402 opened #108 "Bad request when I try to create UploadSession"
when I use device before Android  6.0 I have an error 400 bad request
 I use code below:
DriveItemUploadableProperties driveItemUploadableProperties = new DriveItemUploadableProperties();
		AdditionalDataManager additionalDataManager = driveItemUploadableProperties.getAdditionalDataManager();
		additionalDataManager.put("@microsoft.graph.conflictBehavior", new JsonPrimitive("replace"));
		driveIte

[2019-06-27 03:46] darrelmiller commented on #101
This is a function of the people API and unfortunately nothing we can do in the SDKs.

[2019-06-27 03:46] #101 closed, assigned to nobody

[2019-06-28 07:53] #108 closed, assigned to nobody

[2019-07-25 10:32] Abdallah4021 opened #109 "Get AuthenticationProvider by accessToken"
building android application is connecting with server side, the mobile app takes the access token from server side. So can i create AuthenticationProvider by an access token ?

[2019-07-25 16:29] saeed-vayghan commented on #37
My problem solved when I switched to the Beta version.
`https://graph.microsoft.com/beta/me/photo/$value`

[2019-07-30 03:07] 171008402 opened #110 "Login failed with an account that I haven't used for a long time"
I logged in with an account that I haven't used for a long time. After the Microsoft login interface came out, the account information was filled out, and I didn't get feedback from the successful login. When I logged in again, the Microsoft login screen never came out.

[2019-07-31 12:37] remort commented on #99
Faced exactly the same issue working with onedrive api directly. May be it is a permissions/scopes issue ?

update: The issue was about scopes and proper auth flow.
First I used wrong auth flow documnt:
https://docs.microsoft.com/en-us/onedrive/developer/rest-api/getting-started/graph-oauth?view=odsp-graph-online

Finally I found this auth flow document which works for me (pay attention to scopes

[2019-09-06 09:13] gerritbeuze opened #111 "Blank log-in screen on Android 9 device"
Hi,

After upgrading my app to Android 9 and running it on a new Lenovo Tab 10, I get a blank log-in screen when trying to log in. The backbutton works, but that just cancels the log-in. I can use the Chrome app on that device without problems. Below is section of the Android Studio consolue output. And yes, I have included the legacy apache http components. Any resolution for this?

[code]

[2019-09-09 11:18] Samhithgb opened #112 "This or msgraph-sdk-java for Android?"
Which is the suggested SDK for development in Android?

[2019-11-12 19:42] rmiragayasoluciones opened #113 "Sample code to upload a file larger than 4 MB."
I cannot find the sample code to upload a file larger than 4 MB.

For < 4bm im using:

**final byte[] bytesArray = new byte[(int) filePdfOriginal.length()];
            try {
                FileInputStream fis = new FileInputStream(filePdfOriginal);
                fis.read(bytesArray); //read file into bytes[]
                fis.close();

         this.mClientI
                            .site

[2019-11-13 12:33] gerritbeuze opened #114 "Session base upload stopped working October 25th 2019"
Since January 2019 I have used this library to upload files to OneDrive using session based upload. Code below. Since October 25th however, this no longer works. The code was unchanged
and we have received numerous reports from users that upload fails starting that date.

When checking the Azure portal I found that around that date there was a migration from the old portal to the Azure portal. Cou

[2019-12-14 00:52] clio44 opened #115 "SMS Backup and Restore Error"
I'm sorry I don't know what I'm doing, but in trying to upload my SMS Backup and Restore file, it gave me an error and said to submit here.
So here I am.

This was the error message:

![Screenshot_20191213-194337_SMS Backup   Restore](https://user-images.githubusercontent.com/58868038/70840688-f7c5bd80-1de1-11ea-93a8-267405cb0d65.jpg)

[2020-01-15 22:05] andycass opened #117 "Uploading a LARGE file"
i have been using using:-
    `{implementation('com.microsoft.graph:msgraph-sdk-android:1.6.0')`

The docs for the newer sdk are non existant:-
    `{implementation('com.microsoft.graph:msgraph-sdk-android:1.7.0')`

Could you please provide java code relating to the **Resumable Upload File**:-
`https://docs.microsoft.com/en-us/graph/api/driveitem-createuploadsession?view=graph-rest-1.0`

The file

[2020-04-26 13:57] helenoftroy08 opened #119 "SMS Backup on Android 10 won't upload backups with onedrive"
SMS Backup is an app used to back up call logs and messages.  It works fine using google drive or box or even drop box.  Using one drive, 95% of the time it results in an "upload failed error."  it reports a long error message to report here, but i am unable to copy and paste it so i took a screen shot and have pasted it here.
![Screenshot_20200426-084117_SMS Backup   Restore](https://user-images.

[2020-05-07 19:38] josephkniestprometheanworld opened #120 "Error thrown when one drive is not configured"
Is there a programmatic means of using the graph sdk to auto set-up one drive for a microsoft account that has not already done so? If one drive is not set up and we attempt to get the DriveItem root, the following function throws an exception:

 "com.microsoft.graph.generated.BaseDriveItemRequest" throws

com.microsoft.graph.http.GraphServiceException: Error code: itemNotFound\nError message: Ite

[2020-05-08 21:58] josephkniestprometheanworld commented on #120
For reference, the account I am testing with is "pwdev000@outlook.com"

[2020-06-25 09:56] Kiran521 opened #121 "Not getting notified when the user changes his password in Exchange Contacts"
Graph API is working even user changes the  Password in Exchange Contacts. (Android SDK)

### Expected behavior
User not supposed to allow to access any sort of data (Create, update, All contacts etc...) once he changes his password in Exchange Contacts

### Actual behavior
User is able to access all sort of data (Create, update, All contacts etc...) once he changes his password in Exchange Contac

[2020-09-03 18:33] baywet commented on #121
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:33] #121 closed, assigned to nobody

[2020-09-03 18:33] baywet commented on #120
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:33] #120 closed, assigned to nobody

[2020-09-03 18:33] baywet commented on #119
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:33] #119 closed, assigned to nobody

[2020-09-03 18:33] baywet commented on #117
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:33] #117 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #115
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #115 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #114
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #114 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #113
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #113 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #112
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #112 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #111
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #111 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #110
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #110 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #109
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #109 closed, assigned to nobody

[2020-09-03 18:34] baywet commented on #106
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:34] #106 closed, assigned to nobody

[2020-09-03 18:35] baywet commented on #105
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #105 closed, assigned to nobody

[2020-09-03 18:35] baywet commented on #104
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #104 closed, assigned to nobody

[2020-09-03 18:35] baywet commented on #103
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #103 closed, assigned to nobody

[2020-09-03 18:35] baywet commented on #100
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #100 closed, assigned to darrelmiller

[2020-09-03 18:35] baywet commented on #99
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #99 closed, assigned to nobody

[2020-09-03 18:35] baywet commented on #98
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #98 closed, assigned to nobody

[2020-09-03 18:35] baywet commented on #97
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:35] #97 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #96
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #96 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #95
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #95 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #94
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #94 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #92
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #92 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #90
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #90 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #88
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #88 closed, assigned to NakulSabharwal

[2020-09-03 18:36] baywet commented on #86
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #86 closed, assigned to nobody

[2020-09-03 18:36] baywet commented on #80
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:36] #80 closed, assigned to nobody

[2020-09-03 18:37] baywet commented on #75
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:37] #75 closed, assigned to nobody

[2020-09-03 18:37] baywet commented on #74
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:37] #74 closed, assigned to nobody

[2020-09-03 18:37] baywet commented on #71
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:37] #71 closed, assigned to nobody

[2020-09-03 18:37] baywet commented on #70
Hi everyone,
Thank you for the contribution, we have moved away from an android specific SDK to a [Java SDK](https://github.com/microsoftgraph/msgraph-sdk-java) and this repo will be archived very soon.
If you're still facing the same issue with the Java SDK, feel free to re-open an issue over there.
Closing.

[2020-09-03 18:37] #70 closed, assigned to nobody